<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <img src="https://storage.cloud.google.com/weather-app-data/logo.jpg" alt="Logo" class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service2">SQL</a></li>
            <li><a href="/service3">Python</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to the DevOps Application</h1>
        <p>This application demonstrates the use of independent services for SQL and Python online compilers.</p>
        <p><a href="/service2">Click here</a> to access the SQL online compiler.</p>
        <p><a href="/service3">Click here</a> to access the Python online compiler.</p>
    </div>
</body>
</html>
